<h1><%= @user.name %>'s Ideas</h1>

<div class='container'>
  <%= link_to "New Idea", new_user_idea_path(@user), class: 'btn btn-warning btn-xs'%><br>
</div><br>
  <div class='container'>
    <% @ideas.each do |idea| %>
    <div class='col-md-4'>
      <li><%= link_to "#{idea.name}", user_idea_path(idea.user)%></li>
    </div>
    <% end %>
  </div>
